[logger]
level = "INFO"
file = "scheduler-logs.txt"

[repository]
type = "memory"  # memory or sql

[db]
dsn = "user=postgres sslmode=disable port=54331 TimeZone=Europe/Moscow"

[cleaner]
event_lifespan = "8760h" # 1 year

[rabbit]
dsn = "amqp://guest:guest@localhost:5673/"
queue = "calendar"