[logger]
level = "INFO"
file = "logs.txt"

[http_server]
port = "8080"

[grpc_server]
port = "9090"

[repository]
type = "memory"  # memory or sql

[db]
dsn = "user=postgres sslmode=disable port=54331 TimeZone=Europe/Moscow"
